:root {
  font-family: Helvetica, Arial, sans-serif;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: var(--Colors-Primary-White);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font: var(--Typo-Text-xl);
  color: var(--Colors-Primary-Dark);
  max-width: 390px;
  margin: 0 auto;
}

main {
  padding-bottom: 82px; /* nav height */
}

.main {
  padding-left: var(--Spacings-Spacing-20);
  padding-right: var(--Spacings-Spacing-20);
}

img {
  max-width: 100%;
  min-width: 100%;
}
.img {
  padding-top: var(--Spacings-Spacing-24);
}

a {
  font-weight: 500;
  color: inherit;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

/* Titles */
h1,
h2,
h3 {
  margin: 0;
}
h1 {
  font: var(--Typo-Title-2xl);
  color: inherit;
}
.subtitle {
  font: var(--Typo-Title-sm);
}
h2 {
  font: var(--Typo-Title-2xl);
  color: inherit;
}
.dimmed {
  color: var(--Colors-Gray-600);
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
