:root {
  font-family: Helvetica, Arial, sans-serif;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: var(--Colors-Primary-White);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font: var(--Typo-Text-xl);
  color: var(--Colors-Primary-Dark);
  max-width: 390px;
  margin: 0 auto;
}

main {
  padding-bottom: 82px; /* nav height */
}

.main {
  padding-left: var(--Spacings-Spacing-20);
  padding-right: var(--Spacings-Spacing-20);
}

svg {
  stroke: var(--Colors-Primary-Dark);
}

img {
  max-width: 100%;
  min-width: 100%;
}
.img {
  padding-top: var(--Spacings-Spacing-24);
}

a {
  font-weight: 500;
  color: inherit;
  text-decoration: underline;
  cursor: pointer;
}
a:hover,
a:visited {
  color: inherit;
}

/* Titles */
h1,
h2,
h3 {
  margin: 0;
  color: inherit;
}
h1 {
  font: var(--Typo-Title-2xl);
}
.subtitle {
  font: var(--Typo-Title-sm);
}
h2 {
  font: var(--Typo-Title-2xl);
}
h3 {
  font: var(--Typo-Title-md);
}
.dimmed {
  color: var(--Colors-Gray-600);
}
p {
  margin: 0;
  font: var(--Typo-Text-lg);
}

/* Hiding class, making content visible only to screen readers but not visually */
/* "sr" meaning "screen-reader" */
.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.button-group {
  display: flex;
  flex-direction: column;
  gap: var(--Spacings-Spacing-24);
}

button {
  border-radius: 100px;
  border: 1px solid var(--Colors-Primary-Dark);
  background: var(--Colors-Primary-Dark);
  padding: var(--Spacings-Spacing-16) 51px;
  cursor: pointer;
  transition: all ease 0.25s;
  font: var(--Typo-Text-2xl);
  color: var(--Colors-Primary-White);
  display: flex;
  gap: calc(var(--Spacings-Spacing-12) - 2px);
  align-items: center;
  justify-content: center;
}

button.secondary {
  color: var(--Colors-Primary-Dark);
  border: 1px solid var(--Colors-Gray-300);
  background: var(--Colors-Primary-White);
}
